{% extends 'base.html.twig' %}
{% block body %}
    <div class="converter_form">
        <div class="inline">
            <select class="convert_from changer" name="convert_from" title="CurrencyFrom">
                {% for currencyCode in currencyCodes %}
                    <option value="{{ currencyCode.value }}">{{ currencyCode.value }}</option>
                {% endfor %}
            </select>
            <input type="text" name="from_amount" class="from_amount amount" title="amountTo" value="1">
        </div>
        <div class="inline">
            <select class="convert_to changer" name="convert_to" title="CurrencyTo">
                {% for currencyCode in currencyCodes %}
                    <option value="{{ currencyCode.value }}">{{ currencyCode.value }}</option>
                {% endfor %}
            </select>
            <input type="text" name="to_amount" class="to_amount amount" title="amountTo">
        </div >
    </div>
{% endblock %}
